@{
    Admin.Experience exp = ViewBag.exp;
    exp = (exp == null) ? new Admin.Experience() : exp;

    List<Admin.Job> jobs = ViewBag.jobs;
    jobs = (jobs == null) ? new List<Admin.Job>() : jobs;
    
    string msg = ViewBag.msg;
    msg = (msg == null) ? "" : msg;
    
    ViewBag.Title = "Edit Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Experience Level</h2>

@if (msg.Length > 0) {
    <p class="err">@msg</p>
}

<form action="/Admin/Experience/Save/@exp.id" method="post" class="input_form">
    <div class="left_col">
        <label for="experience">
            Experience Level
            <input type="text" name="experience" id="experience" placeholder="Enter the experience level" value="@((ViewBag.experience == null)?exp.experience1:ViewBag.experience)" />
        </label>

        <input type="submit" name="btnSubmit" id="btnSubmit" value="" />
    </div>
    <div class="right_col">
        <h4>Job Listings</h4>
        @if (jobs.Count > 0) {
            <ul>
                @foreach (Admin.Job job in jobs) {
                    <li>@job.title</li>
                }
            </ul>
        } else {
            <p>No Listings Available</p>
        }
    </div>
    <div class="clearfix"></div>
</form>