@{
    List<Admin.Experience> exps = ViewBag.exps;
    exps = (exps == null) ? new List<Admin.Experience>() : exps;
    
    string msg = ViewBag.msg;
    msg = (msg == null) ? "" : msg;
    
    ViewBag.Title = "Experience Levels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Admin/Content/css/experience.css" rel="stylesheet" type="text/css" />
<p class="index_desc">
    Below you will find a list of all the job experience levels in the system. If you'd like to add a new experience level, click the button to the right.
</p>

<a href="/Admin/Experience/Add" title="Add Experience Level" class="index_add">
    <img src="/Admin/Content/img/add_experience.png" alt="Add Experience Level" />
</a>
<div class="clearfix"></div>

@if (msg.Length > 0) {
    <p class="err">@msg</p>
}

<table>
    <thead>
        <tr>
            <th>Experience</th>
            <th>Date Added</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Admin.Experience exp in exps) {
            <tr>
                <td>@exp.experience1</td>
                <td>@Convert.ToDateTime(exp.date_added)</td>
                <td class="last">
                    <a href="/Admin/Experience/@exp.id" title="Edit Experience">Edit</a> | 
                    <a href="/Admin/Experience/Delete/@exp.id" class="del" title="Delete Experience">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="/Admin/Scripts/custom/experience.js" type="text/javascript"></script>
