/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
@font-face {
  font-family: 'Lubalin';
  src: url('/Content/font/lubalingraphstd-demi-webfont.eot');
  src: url('/Content/font/lubalingraphstd-demi-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/font/lubalingraphstd-demi-webfont.woff') format('woff'), url('/Content/font/lubalingraphstd-demi-webfont.ttf') format('truetype'), url('/Content/font/lubalingraphstd-demi-webfont.svg#ITCLubalinGraphStdDemi') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  margin:0px;
  padding: 0px;
  background: white url('../img/body_bg.png');
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,
button,
input,
select,
textarea {
  font-family: 'Lubalin', sans-serif;
  color: #222;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #06e;
}
a:hover {
  color: #00e;
}
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: h5bp.com/j */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible;
}
/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input {
  *overflow: auto;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

.input_form{
    padding: 2%;
    border: 1px solid #f2f2f2;
    box-shadow: 2px 2px 2px #f2f2f2;
}

.input_form label{
    display:block;
    margin: 10px 0px;
}

.input_form label input,.input_form label select,.input_form label textarea{
    display:block;
    min-width: 400px;
    padding: 2px;
    padding-left: 10px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #c7c7c7;
    background: #faffbd;
    border-radius: 2px;
}

.input_form label input.err,.input_form label select.err,.input_form label textarea.err{
    border: 1px solid red;
}

.input_form label input[type=radio], .input_form label input[type=checkbox]{
    display:inline-block;
    min-width:20px;
    vertical-align: middle;
    background: transparent;
    border: none;
}

.input_form label select{ height: 25px; }

.input_form label textarea{ width: auto; height: auto; }

.input_form label input:focus,.input_form label select:focus,.input_form label textarea:focus{
    background: white;
}

.input_form label .helper{
    display: block;
    font-size: 10px;
}

.input_form input.btnSubmit, a.btnContinue
{
    background: url('../img/continue.png') no-repeat;
    height: 33px;
    width: 110px;
    border: none;
    cursor: pointer;
    /* Wish I could do CSS3 transitions on background image, too much work otherwise */
}

.input_form input.btnSubmit:hover, .input_form input.btnSubmit:focus, a.btnContinue:hover, a.btnContinue:focus
{
    background: url('../img/continue_hover.png') no-repeat;
}

.input_form .left_col{ float:left; }
.input_form .right_col{ float:right; }

a.btnContinue {
	font-size: 0;
	color: transparent;
	float: right;
	margin-top: 15px;
}

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

.shadow{
    margin: 10px 0px;
}
   
#container {
  width: 1020px;
  margin: auto;
  background: white;
  -webkit-box-shadow: 3px 3px 3px #e6e6e6;
  -moz-box-shadow: 3px 3px 3px #e6e6e6;
  -o-box-shadow: 3px 3px 3px #e6e6e6;
  box-shadow: 3px 3px 3px #e6e6e6;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -o-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}
#container header {
  height: 100px;
  padding: 15px;
  color: white;
  position: relative;
  display: block;
  background: #343434 url('/Content/img/header_bg.png') top left repeat-x;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -o-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 1px 1px 1px #e6e6e6;
  -moz-box-shadow: 1px 1px 1px #e6e6e6;
  -o-box-shadow: 1px 1px 1px #e6e6e6;
  box-shadow: 1px 1px 1px #e6e6e6;
  border-top: 15px solid #e64d2c;
}
#container header .logo {
  float: left;
  width: 400px;
}
#container header .logo img {
  width: 400px;
}
#container header .title {
  font-size: 32px;
  float: right;
  line-height: 100px;
  margin-right: 150px;
}

#main{
    padding: 15px;
    padding-top: 0px;
    position: relative;
}

#main nav{
    text-align:right;
    margin-right: 15px;
    clear:both;
    z-index: 1000;
    position: absolute;
    margin-bottom: 100px;
    clear:right;
}

#main nav ul.top li.main{
    margin-right: 5px;
    float:left;
    background: white;
    text-align:left;
    box-shadow: 3px 3px 3px #f2f2f2;
    border-radius: 4px;
    width: 235px;
    vertical-align:middle;
    cursor:pointer;
    -webkit-transition: all 0.5s ease-in-out;
    font-size: 12px;
    min-height: 55px;
    line-height: 55px;
    
}

#main nav ul.top li.main a{
    padding: 0px 10px;
    display:inline-block;
    width: 90%;
    color: black;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}

#main nav ul.top li.main a img{
    margin-left: 10px;
    width: 5px;
}

#main nav ul.top li.main:hover img, #main nav ul.top li.main:active img{
    -webkit-transform: rotate(90deg);
}

#main nav ul.top li.main:hover,#main nav ul.top li.main:active{
    box-shadow: 3px 3px 3px #e64d2d;
}



#main nav ul.top li .sub{
    z-index: 100;
    padding: 0px;
    display:none;
    border-radius: 0px;
    line-height: 25px;
    min-height: 25px;
    background: white;
}

#main nav ul.top li .sub li{
    display: list-item;
    float:none;
    border:none;
    padding: 0px;
    min-height: 25px;
    padding: 10px;
    line-height:25px;
    border-top: 1px solid #f2f2f2;
    -webkit-transition: all 0.5s ease-in-out;
    z-index: 10000;
}

#main nav ul.top li .sub li a{
    line-height: 25px;
    height:25px;
}

#main nav ul.top li .sub li:last-child{
    border-radius: 0px 0px 4px 4px;
}

#main nav ul.top li .sub li:hover,#main nav ul.top li .sub li:active{
    background: #e64d2d;
    color: #343434;
}

#main .dynamic_container{
    padding-top: 100px;
}

#main .dynamic_container #home_header{
    width: 100%;
    padding:5px;
}

#main .dynamic_container #home_header .left_col{
    float:left;
    width: 55%;
}

#main .dynamic_container #home_header #lookup{
    background: #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(top, #e0e0e0 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0e0e0 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0e0e0 0%,#e5e5e5 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #e0e0e0 0%,#e5e5e5 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #e0e0e0 0%,#e5e5e5 100%); /* W3C */
    border: 2px outset #e0e0e0;
    color:black;
    width: 35%;
    float:right;
    padding: 10px;
}

#main .dynamic_container #home_header #lookup label{
    display:block;
    height: 55px;
    line-height:25px;
}

#main .dynamic_container #home_header #lookup label select{
    width: 100%;
    display:block;
    opacity: 0.8;
}

#main .dynamic_container #home_header #lookup label select:focus{
    opacity: 1.0;
}

#main .dynamic_container #home_header #lookup input[type=submit]{
    background: url('/Content/img/continue.png') no-repeat;
    border: none;
    width: 110px;
    height: 33px;
}

#main .dynamic_container #home_header #lookup input[type=submit]:hover,#main .dynamic_container #home_header #lookup input[type=submit]:active{
    background: url('/Content/img/continue_hover.png') no-repeat;
}

#main .dynamic_container #listings article{
    width: 96%;
    margin:auto;
    box-shadow: 0px 2px 2px #e6e6e6;
}


#main .dynamic_container #listings article .desc{
    float:left;
    width: 75%;
    padding:10px 0px;
}

#main .dynamic_container #listings article .title{
    font-size: 18px;
    display:block;
    padding-left: 5px;
}

#main .dynamic_container #listings article p{
    color: #999999;
    font-size: 12px;
    padding: 0px 10px;
}

#main .dynamic_container #listings article .date{
    font-size: 9px;
    color: #999999;
    padding: 0px 10px;
    display:block;
}

#main .dynamic_container #listings article .buttons{
    float:right;
    width: 23%;
    padding:10px 0px;
}

#main .dynamic_container #listings article .buttons a,
#main .dynamic_container .apply_box a{
    display:block;
    margin: 10px auto;
    text-align:center;
    background: #262525; /* Old browsers */
    background: -moz-linear-gradient(top, #262525 0%, #2d2c2c 50%, #343434 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262525), color-stop(50%,#2d2c2c), color-stop(100%,#343434)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #262525 0%,#2d2c2c 50%,#343434 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #262525 0%,#2d2c2c 50%,#343434 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #262525 0%,#2d2c2c 50%,#343434 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262525', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #262525 0%,#2d2c2c 50%,#343434 100%); /* W3C */
    width: 100px;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 100; 
    color: white;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #ccc;
    border: 2px solid #262525;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main .dynamic_container #listings article .buttons a:hover,
#main .dynamic_container #listings article .buttons a:active,
#main .dynamic_container .apply_box a:hover,
#main .dynamic_container .apply_box a:active{
    background: #e64d2d; /* Old browsers */
    background: -moz-linear-gradient(top, #e64d2d 0%, #f05922 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e64d2d), color-stop(100%,#f05922)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e64d2d 0%,#f05922 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e64d2d 0%,#f05922 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #e64d2d 0%,#f05922 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64d2d', endColorstr='#f05922',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #e64d2d 0%,#f05922 100%); /* W3C */
    color: #343434;
    font-size: 15px;
    border: 2px solid #eb532a;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#main .dynamic_container .job_specs{
    float:left;
    width: 500px;
    min-height: 200px;
}

#main .dynamic_container .apply_box{
    float:right;
    width: 300px;
    border: 3px solid #e6e6e6;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

#main .dynamic_container .apply_box span{
    display: block;
    font-weight: bold;
}

#main .dynamic_container .job_specs p, #main .dynamic_container .contact_info p{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.employer address {
    margin-bottom: 5px;
}

.deleteFile {
    float: right;
}

footer {
  width: 1020px;
  margin: auto;
  height: 200px;
  margin-top: 0px;
  padding: 17px 0px;
}
/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}

